.recipe-preview {
    display: flex;
    flex-direction: column;
    background-color: #e91e630a;
    text-align: center;
    border-radius: 5px;
    overflow-x: hidden;
    cursor: pointer;

    .info {
        padding: 10px;
        flex-grow: 1;
        position: relative;
    }

    img {
        filter: brightness(100%);
        aspect-ratio: 1/1;
        width: 100%;

        &:hover {
            transform: matrix(1.04, 0, 0, 1.04, 0, 0);
            filter: brightness(70%);
            transition: all 1s ease;

        }
    }

}

.search-img {
    width: 50%;
}

// 9ca54758c3e8483eace10247917a7327