.checkvegan ul {
    padding: 0;
    margin: 0;
    max-width: 700px;
    position: relative;
    overflow-y: scroll;
    max-height: 40vh;
}


.checkvegan button {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    background-color: #8a2b06;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}


.checkvegan button:not(:disabled):hover,
.checkvegan button:not(:disabled):focus {
    outline: 0;
    background: #8a2b06;
    color: white;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.checkvegan button:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}


/* .checkvegan ul li {
    padding: 0.2rem 1rem 0.5rem;
    cursor: pointer;
    border-radius: 1.5rem;
    background: peachpuff;
    margin-top: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}

*/
.checkvegan form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkvegan ul li:hover {
    opacity: 0.8;
    font-weight: 700;
}

.checkvegan h2 {
    max-width: 30rem;
    width: 90%;
    margin: auto;
    /* margin-top: 1rem; */
    position: relative;
    /* background-color: #282A3A; */
    color: rgb(41, 9, 9);
    border-radius: 14px;
    /* padding: 1rem; */
    /* box-shadow: 0 1px 18px 10px rgb(0 0 0 / 25%); */
}

/* .checkvegan button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.checkvegan button:hover,
.checkvegan button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
} */





@media (max-width:575px) {
    .modal-container {
        top: 31vh;
    }
}