.home-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 90vh;
    background-image: url("../imgs/img-bgc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}