.home-page {
    display: flex;
        justify-content: center;
            align-items: center;
        position: relative;
            flex-direction: column;
            gap: 1rem;
            padding-left: 0px;
            padding-right: 0px;
            min-height: 90vh;

}